:root {
    --plexus-brand-200: rgba(3, 75, 125, 1);
    --plexus-brand-200-alpha-10: rgba(3, 75, 125, 0.1);
    --plexus-brand-300: rgba(4, 105, 175, 1);
    --plexus-brand-300-alpha-10: rgba(4, 105, 175, 0.1);
    --plexus-brand-400: rgba(0, 141, 239, 1); /* This is the main colour */
    --plexus-brand-400-alpha-10: rgb(0, 141, 239, 0.1);

    --plexus-positive-400: rgb(0, 170, 78, 1);
    --plexus-positive-400-alpha-10: rgb(0, 170, 78, 0.1);

    --plexus-caution-400: rgba(252, 200, 0, 1);
    --plexus-caution-400-alpha-10: rgb(252, 200, 0, 0.1);

    --plexus-urgent-400: rgb(224, 21, 0, 1);
    --plexus-urgent-400-alpha-10: rgb(224, 21, 0, 0.1);

    --plexus-neutral-500: rgb(184, 184, 196, 1);
    --plexus-neutral-500-alpha-10: rgb(184, 184, 196, 0.1);
}